// color
$primary: #409EFF;    // header
$primary-second: #76b9ff;    // header hover

$hover-bg: #f5f7fa;

$grey: #e8ebf1;    // body bg
$bg-grey: #f1f1f1;    // module-header bg
$input-grey: #f2f4f7;    // module-header bg
$text-grey: #707780;

$border-grey: #d7dce5;
$border-grey-second: #e9edf3;
$border-black: #7a8ba9;

$font-base-color: #303133;    // font color
$font-normal-color: #606266;
$font-second-color: #909399;
$font-third-color: #b2b2b2;

$border-primary: #DCDFE6;
$border-second: #DCDFE6;

$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// size
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

$menu-bg: #001529;
$menu-focus-bg: #1890ff;
$sub-menu-bg: #000c17;
$menu-font-color: hsla(0, 0%, 100%, .65);
